* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-black: #212121;
    --main-grey: #757575;
    --main-blue: #2196F3;
    --main-white: #FFFFFF;
    --second-black: #000000;
    --border-color: #ECECEC;
    --background-color-icon: #F5F4FA;
    --cubic-bezier: (0.4, 0, 0.2, 1);

}

.container {
    width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* Header - Portfolio */

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px;
    border-color: var(--border-color);
}

.navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    padding-top: 24px;
    padding-bottom: 25px;
    gap: 93px;
}

.web-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--main-blue);
}

.web-logo1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--second-black);
}

.menu-portfolio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 46px;
}

.menu {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--main-black);
}

.navi-link-portfolio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.kontakt-nav-portfolio {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 50px;
    margin-left: 200px;
    color: var(--main-grey);
}

.link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--main-grey);
}

.icon {
    fill: currentColor;
    margin-right: 10px;
}

.menu-kontakt-list:hover,
.menu-kontakt-list:focus {
    color: var(--main-blue);
}

.link:hover,
.menu:hover {
    color: var(--main-blue);
}

.active-site {
    background: #2196F3;
    border-radius: 2px;
    position: relative;
    top: 30px;
}

.active-site::after {
    content: "";
    display: block;
    width: 58px;
    height: 4px;
    background-color: blue;
    visibility: hidden;

}

/* Main - Buttons - Portfolio */

.flex-button-portfolio {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding-top: 94px;
    margin-bottom: 50px;
}

.buttons-portfolio:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background: #2196F3;
    color: var(--main-white);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.buttons-portfolio {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
    line-height: 1.62;
    background: #F5F4FA;
    border-radius: 4px;
    cursor: pointer;
    color: var(--main-black);
    border: #F5F4FA;
    text-align: center;
    padding: 6px 22px;
    border: none;
}

/* Main - Photo - Description - Frame */ 

.flex-photo-portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 94px;
}

.frame-portfolio {
    width: 370px;
    height: 404px;
    left: 215px;
    top: 262px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    cursor: pointer;
}

.box-overlay {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.frame-portfolio:hover .overlay,
.frame-portfolio:focus .overlay {
    transform: translateY(0);
}

.overlay p {
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--main-white);
    padding: 49px 45px 49px 24px;
}


.photo-portfolio {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--main-black);
    margin-left: 24px;
    padding-block: 20px 4px;

}

.under-photo-portfolio {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--main-grey);
    margin-left: 24px;
    padding-block: 4px 20px; 
}

.frame-portfolio:hover  {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}


/* Footer - Logo - Adress - Icon */

footer {
    height: 252px;
    left: 0px;
    top: 2097px;
    background: #2F303A;
}

.footer-wrap {
    display: flex;
    padding-top: 60px;
    align-items: flex-start;
}

.footer-logo {
    display: inline-block;
    margin-right: 70px;
}

.web-logo-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--main-blue);
}

.web-logo-footer-2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--main-white);
}

.footer-adress {
    padding-top: 20px;
}

.footer-link {
    padding-block: 9px;
}

.link-footer {
    color: #FFFFFF;
}

.link-footer:hover {
    color: var(--main-blue);
}

.mail-tel-footer {
    color: rgba(255, 255, 255, 0.6);
}

.mail-tel-footer:hover {
    color: var(--main-blue);
}

.h4-footer {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.ul-footer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-footer {
    margin-right: 10px;
    width: 44px;
    height: 44px;
}

.icon-social-fotter:hover {
    background: var(--main-blue);
    border-radius: 50%;
    cursor: pointer;
}

.newsletter-flex {
    display: flex;
    margin-left: auto;
    justify-content: space-between;
    align-items: flex-end;
    width: 570px;
    padding-bottom: 20px;
    margin-left: 78px;
}

.newsletter {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-newsletter {
    display: block;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    margin-top: 20px;
    background-color: #2f303a;
    padding-left: 16px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: white;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: 1px solid rgba(255, 255, 255, 0.3);
}

.newsletter-footer-button {
    font-family: 'Roboto';
    font-style: normal;
    position: relative;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: #ffffff;
    background-color: #2196f3;
    cursor: pointer;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    height: 50px;
    text-align: left;
    padding-left: 42px;
}

.icon-newsletter-fotter {
    position: relative;
    left: 20px;
    top: 5px;
}