.h2-our-team-index {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: var(--main-black);
    display: flex;
    justify-content: center;
    padding-top: 94px;
}

.what__we__do {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: var(--main-black);
    display: flex;
    justify-content: center;
    padding-top: 94px;
}

.h2-our-customers {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: var(--main-black);
    display: flex;
    justify-content: center;
    padding-top: 94px;
}