.header-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 24px 400px 25px 415px;
    
}

.header--box {
    border-bottom: 1px solid var(--border-color);
}
